<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://media3.s-nbcnews.com/i/MSNBC/Components/Photo/_new/100506-ironman2-hmed.jpg" alt="" srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class=big-card__description>
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales venenatis dolor sed
        accumsan. Ut id
        efficitur metus. Suspendisse elementum viverra justo, vitae mollis sem efficitur in. Maecenas at nisi a massa
        dignissim posuere.
      </a>
    </p>
  </div>
</div>